.body-2 {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/originals/5c/58/ab/5c58ab5de4ca5c503f0068d04e9ef235.jpg);
    background-attachment: fixed;
    background-size: 80%;
    margin: 0;
    padding: 0;
    color: red;
}

.container {
    width: 500px;
    margin: 50px auto;
    background-color: #4a2626;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: black;
    font-size: 16px;
    color: red;
}

input[type="button"] {
    background-color: #ff0000;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

input[type="button"]:hover {
    background-color: #000000;
    color: red;
    transition: all 0.5s;
}
@media only screen and (max-width: 740px) and (min-width:360px) and (max-height:740px) and (min-height:360px) {
    .container {
        width: 250px;
    }
}